@import '../../styles/colors';

#results {
  padding: 20px 0 0 0;
  .welcome {
    p {
      margin-bottom: 10px;
      font-size: 1.2em;
      &.headline {
        font-size: 1.5em;
        text-align: center; 
        font-weight: bold;
      }
      &.background {
        font-style: italic;
        color: lighten($text, 20%);
        font-size: 1em;
        margin-top: 20px;
      }
    }
  }
  p.info {
    text-align: center;
    a {
      display: block;
    }
  }
  .instructions {
    display: block;
    color: lighten($text, 20%);
    font-style: italic;
    margin-bottom: 0;
  }
  h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
  }
  h3 {
    color: $main;
    font-size: 1.5em;
    margin-top: 10px;
    font-weight: 500;
  }
  ul {
    margin-bottom: 20px;
  }
  li {
    padding: 5px 0;
    border-bottom: 1px solid $main;
    .liContent {
      margin-left: 70px;
    }
  }
  div.thumbnail {
    margin: 0;
    width: 60px;
    min-height: 10px;
    float: left;
    img {
      border-radius: 50%;
      width: 60px;
    }
  }
  a.artist {
    display: block;
    font-size: 1.2em;
  }
  a.trackArtists {
    &:not(:first-child) {
      &::before {
        content: " | ";
        color: $text;
      }
    }
  }
  .mainArtist {
    text-align: center;
    img {
      border-radius: 50%;
      height: 60px;
    }
  }
  iframe {
    overflow-y: hidden;
    max-height: 410px; /* approximate max height */
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    &.false {
      max-height: 0;
    }
  }
}