@import '../../styles/colors';

#results {
  padding: 20px 0 0 0;
  .instructions {
    p {
      margin-bottom: 10px;
      font-size: 1.2em;
      &.headline {
        font-size: 1.5em;
        text-align: center; 
        font-weight: bold;
      }
      &.background {
        font-style: italic;
        color: lighten($text, 20%);
        font-size: 1em;
        margin-top: 20px;
      }
    }
  }
  h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
  }
  p.instructions {
    text-align: center;
  }
  h3 {
    color: $main;
    font-size: 1.5em;
    margin-top: 10px;
    font-weight: 500;
  }
  ul {
    margin-bottom: 20px;
  }
  li {
    padding: 5px 0;
    border-bottom: 1px solid $main;
    .liContent {
      margin-left: 70px;
    }
  }
  div.thumbnail {
    margin: 0;
    width: 60px;
    min-height: 10px;
    float: left;
    img {
      border-radius: 50%;
      width: 60px;
    }
  }
  a.artist {
    display: block;
    font-size: 1.2em;
  }
  a.trackArtists {
    // display: inline-block;
    &:not(:first-child) {
      &::before {
        content: " | ";
        color: $text;
      }
    }
  }

}