@import '../../styles/colors';

#results {
  padding: 20px 0 0 0;
  .welcome {
    p {
      margin-bottom: 10px;
      font-size: 1.2em;
      &.headline {
        font-size: 1.5em;
        text-align: center; 
        font-weight: bold;
      }
      &.subwelcome {
        font-style: italic;
        color: lighten($text, 20%);
        font-size: 1em;
        margin-top: 20px;
        margin-bottom: 15px;
      }
    }
    #recentArtists {
      margin-bottom: 10px;
      padding: 10px;
      background-color: lighten($text, 50%);
      border-radius: 20px;
      h2 {
        font-size: 1.5em;
        text-align: left;
        margin-bottom: 10px;
      }
      .artistGrid {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 22% 22% 22% 22%;
        .recentArtist {
          position: relative;
          overflow: hidden;
          p {
            font-size: 1em;
            text-align: center;
          }
          img {
            min-width: 100%;
            height: 140px;
          }
          &:hover {
            p {
              color: $accent;
            }
          }
        }
      }
      @media (max-width: 500px) {
        h2 {
          text-align: center;
        }
        .artistGrid {
          display: block;
          .recentArtist {
            padding-top: 20px;
            text-align: center;
            &:not(:last-child) {
              border-bottom: 1px solid white;
            }
            img {
              min-width: 0;
              height: 140px;
            }
          }
        }
      }
    }
  }
  p.info {
    text-align: center;
    a {
      display: block;
    }
  }
  .instructions {
    display: block;
    color: lighten($text, 20%);
    font-style: italic;
    margin-bottom: 0;
    a {
      display: block;
    }
  }
  h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
  }
  h3 {
    color: $main;
    font-size: 1.5em;
    margin-top: 10px;
    font-weight: 500;
  }
  ul {
    margin-bottom: 20px;
  }
  li {
    padding: 5px 0;
    border-bottom: 1px solid $main;
    .liContent {
      margin-left: 70px;
    }
  }
  div.thumbnail {
    margin: 0;
    width: 60px;
    min-height: 10px;
    float: left;
    img {
      border-radius: 50%;
      width: 60px;
    }
  }
  a.artist {
    display: block;
    font-size: 1.2em;
  }
  a.trackArtists {
    &:not(:first-child) {
      &::before {
        content: " | ";
        color: $text;
      }
    }
  }
  .mainArtist {
    text-align: center;
    img {
      border-radius: 50%;
      height: 60px;
    }
    span.genreInstructions {
      display: block;
      color: lighten($text, 40%);
      font-style: italic;
    }
    a.genre {
      display: inline;
      color: $text;
      &:hover {
        color: $accent;
      }
      &:not(:last-child) {
        &::after {
          content: ", ";
        }
      }
      &.active {
        color: $main;
      }
    }
  }
  iframe {
    overflow-y: hidden;
    max-height: 410px; /* approximate max height */
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    &.false {
      max-height: 0;
    }
  }
}